@import './colors.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --small-spacing: 0.5rem;
  --large-spacing: 1rem;
  --default-transition: 0.3s;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-ghost-white);
  --color-background-soft: var(--color-white);

  --color-heading: var(--color-dark-indigo);
  --color-subheading: var(--color-light-indigo);
  --color-text: var(--color-indigo);
  --color-link: var(--color-blue);

  --color-border: var(--color-light-indigo);

  --color-primary: var(--color-blue);
  --color-primary-light: var(--color-blue-light);
  --color-primary-active: var(--color-blue-active);
  --color-primary-background: var(--color-blue-faded);

  --color-green-background: var(--color-green-faded);
  --color-yellow-background: var(--color-yellow-faded);
  --color-red-background: var(--color-red-faded);
}

.dark-mode:root {
  --color-background: var(--color-black);
  --color-background-soft: var(--color-eerie-black);

  --color-heading: var(--color-white);
  --color-subheading: var(--color-faded-indigo);
  --color-text: var(--color-faded-indigo);
  --color-link: var(--color-blue-light);

  --color-border: var(--color-light-indigo);

  --color-primary: var(--color-blue);
  --color-primary-light: var(--color-blue-light);
  --color-primary-active: var(--color-blue-active);
  --color-primary-background: var(--color-blue-dark);

  --color-green-background: var(--color-green-dark);
  --color-yellow-background: var(--color-yellow-dark);
  --color-red-background: var(--color-red-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 16px;
  overflow: hidden;
}

body {
  height: 100vh;
  position: fixed;
  overflow: hidden;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: Poppins;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--color-heading);
  font-size: 1.25rem;
  font-weight: 600;
}

h2 {
  color: var(--color-heading);
  font-size: 1rem;
  font-weight: 600;
}

h3 {
  color: var(--color-heading);
  font-size: 0.875rem;
  font-weight: 600;
}

h4 {
  color: var(--color-subheading);
  font-size: 0.875rem;
  font-weight: 600;
}

a {
  color: var(--color-link);
  text-decoration: none;
  font-size: 0.875rem;
}
p {
  font-size: 0.875rem;
}

.scroll {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #babac0 #00000000;
}
.scroll::-webkit-scrollbar {
  width: 0.7rem;
}

/* background of the scrollbar except button or resizer */
.scroll::-webkit-scrollbar-track {
  background-color: #0000;
}

/* scrollbar itself */
.scroll::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 1rem;
  border: 2px solid white;
}

/* set button(top and bottom of the scrollbar) */
.scroll::-webkit-scrollbar-button {
  display: none;
}
