@import './colors.css';
@import './responsiveness.scss';

:root {
  --color-background: var(--color-white);
  --color-background-glass: var(--color-white-glassy);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --default-spacing: .5rem;
  --card-size-1: calc((min(100vw, var(--mobile-breakpoint)) - (4 * var(--default-spacing))) / 3);
  --card-size-2: calc((2 * var(--card-size-1)) + var(--default-spacing));
  --card-size-3: calc((3 * var(--card-size-1)) + (2 * var(--default-spacing)));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-background-glass: var(--color-black-glassy);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 16px;
}

body {  
  min-height: 100vh;
  color: var(--color-text);
  background: url("https://images.unsplash.com/photo-1559564477-009e866dda7e?q=80&w=2400&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: Roboto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
