/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #ffffff;
  --color-ghost-white: #f2f2f7;

  --color-black: #000000;
  --color-eerie-black: #1c1c1e;

  --color-faded-indigo: #d5d8dc;
  --color-light-indigo: #808b96;
  --color-indigo: #2c3e50;
  --color-dark-indigo: #1a252f;

  --color-blue: #006aff;
  --color-blue-faded: #cce1ff;
  --color-blue-light: #3388ff;
  --color-blue-active: #0055cc;
  --color-blue-dark: #00204c;

  --color-green: #27a846;
  --color-green-faded: #baefc7;
  --color-green-light: #30cf56;
  --color-green-active: #1e8036;
  --color-green-dark: #10451d;

  --color-yellow: #f59e0b;
  --color-yellow-faded: #fdecce;
  --color-yellow-light: #f7b13c;
  --color-yellow-active: #c47e09;
  --color-yellow-dark: #492f03;

  --color-orange: #ff9d00;
  --color-red: #eb5545;
}
