/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #ffffff;
  --color-black: #181818;

  --color-light-indigo: #3e5871;
  --color-indigo: #2c3e50;
  --color-dark-indigo: #1a252f;

  --color-light-gray: #dde9ed;
  --color-medium-gray: #658c96;
  --color-dark-gray: #0f3e4a;

  --color-blue: #1677ff;
  --color-blue-faded: #4096ff;
  --color-blue-active: #0958d9;
  --color-orange: #ff9d00;
}
